<!DOCTYPE html>
<!-- thymeleaf의 속성을 사용하기 위한 네임스페이스 선언 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="container">
    	<h2>게시글 목록</h2>
    	<table class="board_list">
	        <colgroup>
	            <col width="15%"/>
	            <col width="*"/>
	            <col width="15%"/>
	            <col width="20%"/>
	        </colgroup>
	        <thead>
	            <tr>
	                <th scope="col">매장명</th>
	                <th scope="col">매장 주소</th>
	                <th scope="col">매장 번호</th>
	                <th scope="col">최초 작성일</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">
	        		<td class= "cafeName"><a href="/index/" th:attrappend="href=${list.cafeName}+ '*'+ ${list.cafeAddress}" th:text="${list.cafeName}"></a></td>
	        		<td th:text="${list.cafeAddress}"></td>
	        		<td th:text="${list.contactNumber}"></td>
	        		<td th:text="${list.createdDatetime}"></td>
	        	</tr>
	        	<tr th:unless="${#lists.size(list)} > 0">
	        		<td colspan="4">조회된 결과가 없습니다.</td>
	        	</tr>
	        </tbody>
	    </table>
	    <!-- <a href="/board/write" class="btn">글 쓰기</a> -->
    </div>
</body>
</html>
