<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>회원 가입</title>
	<meta charset="UTF-8">
	<style>
	table{padding: 10px;}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body th:align="center">
<h1>회원 가입</h1>
<form id="frm" name="frm" action="/index/insertMember" method="post">
<table th:align="center" border="5" th:cellpadding="10" th:cellspacing="0" style="border-collapse: separate; border-spacing: 0px 20px;">
	<tr>
		<td th:text="아이디"></td>
		<td style="border-right: hidden;  border-left: hidden;"><input id="id" name="id" type="text" size="30">
			<td  style="text-align:right; border-left: hidden;" size="10">
				<button class="idChk" type="button" id="idChk" onclick="fn_idChk();" value="N">중복 확인</button>
			</td>

		</td>

	</tr>
	<tr>
		<td th:text="비밀번호"></td>
		<td colspan="2" style="border-left: hidden;"><input id="password" name="password" type="password" size="50"></td>
	</tr>
	<tr>
		<td th:text="이름"></td>
		<td colspan="2" style="border-left: hidden;"><input id="name" name="name" type="text" size="50"></td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:center; border: hidden;">
			<input  type="submit" id="submit" class="btn" value="회원가입">
		</td>
	</tr>
</table>
</form>


<script type="text/javascript">
	$(document).ready(function(){
		$("#submit").on("click", function(){
			if(vali($("#id").val())){
				alert("ID를 입력해 주세요.");
				return false;
			}
			if(vali($("#password").val())){
				alert("패스워드를 입력해 주세요.");
				return false;
			}
			if(vali($("#name").val())){
				alert("이름을 입력해 주세요.");
				return false;
			}
			var idChkVal = $("#idChk").val();
			if(idChkVal == "N"){
				alert("ID 중복확인을 해 주세요.");
				return false;
			}else if(idChkVal == "Y"){
				var frm = $("#frm")[0];
				alert("회원가입 성공");
				frm.submit();
			}
		});
	})

	function fn_idChk(){
		$.ajax({
			url : "/index/insertMember/idChk",
			type : "post",
			dataType : "json",
			data : {"id" : $("#id").val()},
			success : function(data){
				if(data == 1){
					alert("중복된 아이디입니다.");
				} else if(data == 0){
					$("#idChk").attr("value", "Y");
					alert("사용가능한 아이디입니다.");
				}
			}
		})
	}

	// null 체크 함수
	function vali(value){

			if (value === null) return true;
			if (!value) return true;

			return false;

	}

</script>

</body>
</html>
